html {
  font-family: "Bungee Hairline", cursive, "sans-serif";
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

main {
  position: relative;
  color: black;
  background-color: #f4f1ec;
  width: 90%;
  text-align: left;
  left: 5%;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

@media (min-width: 800px) {
  .wholepage {
    display: flex;
  }
  .halfpage {
    margin: 120px auto;
  }
  .halfpage2 {
    width: 30%;
  }
  .tweetcontent {
    max-width: 800px;
    overflow-wrap: break-word;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
  }
}
