#mainpage-nav {
  position: fixed;
  font-weight: bold;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #ece4f8;
  color: rgb(0, 0, 0);
  z-index: 2;
  padding: 1.5em;
}

#toggle {
  opacity: 0.4;
  float: right;
  background-color: #ece4f8;
  border-style: outset;
  border-color: #a081cf;
  border-width: 5px;
}

#toggle:hover {
  opacity: 1;
}
